@media screen and (max-width: 600px) {
    .text {
        font-size: 10;
    } 
    .buttonText {
        font-size: 8;
    }
}
@media screen and (min-width: 600px) {
    .text {
        font-size: 1vw;
    }
    .idText{
        font-size: 0.5vw;
    }
    .buttonText {
        font-size: 0.6vw;
    }
}